# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Ensure Unix-style line endings for all text files
* text=auto eol=lf

# Ensure bin files always have LF line endings
bin/* text eol=lf

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
